* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 2px solid black;
}
.navbar-brand h1 {
    color: black;
    font-size: 1.5em;
    font-weight: bold;;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}


#ourmenu {
    margin-top: 5px;
    margin-bottom: 40px;
    font-weight: bold ;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.row{
    margin-bottom: 15px ;
}

@media (max-width: 767px) {
    .row > div > div {
        background-color: grey;
        margin-left: 5%;
        padding: 10px 10px 0px 10px;
        color: black;
        height: 2000px;
    }
    
    .row div {
        width: 90%;
        margin-left: 5%;
        height: 2000px;
    }
}

@media (min-width: 768px) {
    .row > div > div {
        background-color: grey;
        padding: 10px 10px 0px 10px;
        color: black;
        height: 2000px;
    }
}

#nav-list {
    margin-top: 1px;
    margin-bottom: 0;
}

#nav-list a {
    background-color: rgb(252, 244, 244);
    border: 1.5px solid black;
    color: black;
    font-size: 1.8em;
}

#nav-list a:hover {
    background: #c4c0c0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}